nav {
  background-color: rgb(42, 42, 43);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.nav {
  background-color: rgb(68, 68, 68);
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
}

.nav:hover {
  background-color: rgb(42, 42, 43);
  border: 2px solid black;
  color: white;
}
